.story {
  padding: 11rem 0;
  &-list {
    @include flexBox(stretch, space-between);
  }
  &-item {
    width: calc((100% / 3) - 2rem);
  }
  &-container {
    position: relative;
  }
  &-image {
    @include size(100%, 24rem);
    object-fit: cover;
  }
  &-date {
    padding: 1.5rem;
    @include bg($third-color);
    position: absolute;
    @include flexBox(center, center, column);
    left: -1rem;
    bottom: 1rem;
  }
  &-date-count {
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }
  &-date-month {
    color: white;
  }
  &-content {
    padding-top: 2rem;
  }
  &-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  &-desc {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid $border-color;
  }
  &-meta {
    @include flexBox(center);
  }
  &-meta-item {
    margin-right: 2rem;
  }
  &-meta-icon {
    font-size: 1.8rem;
    color: $third-color;
  }
  &-meta-number {
    margin-left: 5px;
    font-size: 1.5rem;
    color: $text-color;
  }
  @include maxWidth(1023px) {
    padding: 6rem 0;
    &-image {
      height: 16rem;
    }
    &-desc-text {
      @include textClamp(4);
    }
  }
  @include maxWidth(767px) {
    &-list {
      display: block;
    }
    &-item {
      width: 100%;
      margin-bottom: 3rem;
    }
    &-image {
      height: 24rem;
    }
  }
}
.map {
  padding: 5.5rem 0;
  background: linear-gradient(to bottom, rgba(white, 0.8), rgba(white, 0.8)),
    url("../images/img-map.png") no-repeat center / cover;
  text-align: center;
  &-image {
    margin: 0 auto 1.5rem;
  }
  &-open {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: bold;
    color: $primary-color;
    padding-bottom: 2rem;
    position: relative;
    &::after {
      content: "";
      @include size(6rem, 4px);
      @include bg($primary-color);
      @include positionCenter(absolute);
      bottom: 0;
    }
  }
  @include maxWidth(767px) {
    padding: 4rem 0;
  }
}
